.SiteImage {
  max-height: 100%;
  width: 100%;
}

.SiteImage img{
  max-height: 100%;
  max-width: 100%;
}

.center-text {
  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  top: 0;
  left: 0;
}
