.Banner {
  text-align: center;
  height: 10vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ButtonContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
